
/**
 * Image Block
 */

/* Image Rules */

.wp-block-image.is-style-photocopy {
	position: relative;
}

.wp-block-image.is-style-photocopy img {
	filter: grayscale(100%) contrast(800%);
}

.wp-block-image.is-style-photocopy:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 2.5em;
	left: 0;
	right: 0;
	background-image: url('./assets/noise.jpg');
	background-size: 1024px 1024px;
	z-index: 500;
	mix-blend-mode: exclusion;
	filter: grayscale(100%) contrast(200%);
}