/**
 * Photocopier Plugin
 * 
 * Block Styles:
 * - Image Block
 * - Gallery Block
 * - Media & Text Block
 */

.wp-block-image.is-style-photocopy,
.wp-block-gallery.is-style-photocopy .blocks-gallery-item figure,
.wp-block-media-text.is-style-photocopy figure {
	position: relative;
}

.wp-block-image.is-style-photocopy img,
.wp-block-gallery.is-style-photocopy .blocks-gallery-item img,
.wp-block-media-text.is-style-photocopy figure img {
	filter: grayscale(100%) contrast(800%);
}

.wp-block-image.is-style-photocopy:before,
.wp-block-gallery.is-style-photocopy .blocks-gallery-item figure:before,
.wp-block-media-text.is-style-photocopy figure:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 2.5em;
	left: 0;
	right: 0;
	background-image: url('./assets/noise.jpg');
	background-size: 1024px 1024px;
	z-index: 500;
	mix-blend-mode: exclusion;
	filter: grayscale(100%) contrast(200%);
}